#overlay {
   position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index:50;
}

.ewz_padded td { padding: 20px 10px 20px 10px !important;}
.ewz_pcentre {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}


.ewz_formsetup {}
.ewz_ihelp { padding-right: 2px; }
.ewz_showlist {}

.ewz_border{
   padding: 2.5px;
   border: 1px solid #ccc;
}

.ewz_buttonrow {
    padding: 15px;
}

.ewz_buttonrow td {
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ewz_disabled{
    border: 1px dotted red;
    padding: 7px 2px 8px 2px;
    text-align: center;
    vertical-align:middle;
}

table.ewz_csv_upload{
    border: 0px;
}

table.ewz_csv_upload td{
    padding-right: 20px;
    padding-top: 15px;
}

table.ewz_border{ border-collapse: collapse;
                  border: 1px solid black;
                  font-size: .9em;
                  margin: 20px;
                }

.ewz_centered
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 7px;
    border: 0px;
}

.ewz_field{
            background: white;
            border: 1px;
            border-style: solid;
            border-color:  #DFDFDF;
            width: 95%;
            margin: auto;
}

.ewz_field_opts td{ padding-left: 15px;
                    padding-right: 15px;}
.ewz_field_opts { margin-left: 20px;
                  padding-top: 20px;}

.ewz_field > tbody > tr > td {   padding: 10px;
                                 vertical-align:middle;
                             }

.ewz_shaded{
             vertical-align:middle;
             background: #F5F5F5;
             border-color: #EEEEEE;
          }
.ewz_data {
           background: #ffffff;
           padding: 15px;
           margin: 15px 5px 15px 5px;
           border: 1px solid #DFDFDF;
           border-radius: 5px 5px 5px 5px;
}

.ewz_boxed { padding: 5px 25px 5px 15px;
             border: 1px dotted #BBBBBB;
             width: 800px;
           }

.ewz_sect_title{ font-weight: bold;
            }
.ewz_95 { display: block; width: 90%;
        margin-left: auto;
        margin-right: auto; }

.ewz_warn{ font-weight: bold;
           text-align: center;
           vertical-align: top;
           border: 1px dotted #BBBBBB;
           padding: 15px;
           float: right;
           margin-right: 15px;
         }
.ewz_inotes{ font-size: 90%;
             font-style: italic;
}
.postbox-container{ width: 90%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                  }
.ewz_subpost { margin-left: 40px; }

.inside { padding-bottom: 15px !important; }

.inside  .inside { margin: 0px;
                   padding-top: 5px;
                   padding-bottom: 5px;
                   background: #EEEEEE; }

.ewz_expand { display:block;
              float:right;
              clear:right;
              margin-right:10px;
            }
.ewz_params { display:block;
              float:right;
              margin-right:15px;
              margin-bottom:15px;
            }

.wp-dialog .ui-dialog-content{ padding: 15px !important; }
.wp-dialog ul { padding-left: 10px;
                list-style: disc; }

td.b{  border: 1px solid black;
       padding: 5px;
    }
th.b{  border: 1px solid black;
       padding: 5px;
    }


div[id^="ewz_postbox-layout"]{
    background: -webkit-linear-gradient(   top, #E7E7E7, #CCCCCC);
    background:    -moz-linear-gradient(   top, #E7E7E7, #CCCCCC);
    background:     -ms-linear-gradient(   top, #E7E7E7, #CCCCCC);
    background:      -o-linear-gradient(   top, #E7E7E7, #CCCCCC);
    background:         linear-gradient(to bottom, #E7E7E7, #CCCCCC);
}


.ewz_leftpad{ padding-left:30px !important;}

.postbox h3[id^="tpg_header_"]{
   /* background-image: url('../images/gray-grad.png'); */
   background:-webkit-linear-gradient(   top, #F0F0F0, #CCCCCC);
   background:   -moz-linear-gradient(   top, #F0F0F0, #CCCCCC);
   background:    -ms-linear-gradient(   top, #F0F0F0, #CCCCCC);
   background:     -o-linear-gradient(   top, #F0F0F0, #CCCCCC);
   background:        linear-gradient(to bottom, #F0F0F0, #CCCCCC);
    background-position: top left;
    background-repeat: repeat-x;
}

.inside .hndle{
   /* background-image: url('../images/gray-grad.png'); */
   background:-webkit-linear-gradient(   top, #FFFFFF, #EEEEEE);
   background:   -moz-linear-gradient(    top, #FFFFFF, #EEEEEE);
   background:    -ms-linear-gradient(    top, #FFFFFF, #EEEEEE);
   background:     -o-linear-gradient(    top, #FFFFFF, #EEEEEE);
   background:        linear-gradient(to bottom, #FFFFFF, #EEEEEE);
    background-position: top left;
    background-repeat: repeat-x;
}

select[id$="_maxnum_"] option[value="0"]{
    font-style: italic !important;
}

div[id^="dv_rdata"]{
    line-height: 1.0em;
}
div[id^="dv_rdata"] img {
    padding-top: 8px;
}

form[id="list_form"]  select[name="action"]{
    max-width: 30em;
}

input[id$="__msg_"] {
    width: 30em;
}
input[id$="_layout_name_"] {
    width: 15em;
}
input[id$="_field_header_"] {
    width: 9em;
}
input[id$="field_ident_"] {
    width: 9em;
}
input[id$="_label_"] {
    width: 9em;
}
input[id$="_value_"] {
    width: 5em;
}
input[id$="_max_img_w_"] {
    width: 5em;
}
input[id$="_max_img_h_"] {
    width: 5em;
}
input[id$="_max_img_size_"] {
    width: 5em;
}
input[id$="_min_img_area_"] {
    width: 5em;
}
input[id^="webform_title"] {
    width: 20em;
}
input[id^="webform_ident"] {
    width: 12em;
}
input[id^="prefix_"] {
    width: 15em;
}
